.simplecard-see-more {
    color: #fff;
}

.simplecard-img-container {
    width: 100%;
    height: 200px;
    background: #66666620;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #000;
}

.simplecard-description {
    font-size: 14px;
    color: var(--secondary-text);
}

.simpplecard a{
    text-decoration: none;
    color: var(--primary-text);
}

.simpplecard:hover {
    -webkit-box-shadow: 0 1px 5px -2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 5px -2px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 5px -2px rgba(0, 0, 0, 0.5);
}

.simplecard-nopad {
    padding: 0;
    margin: 0;
    background: yellow;
}

.simplecard-not-last {
    margin-right: 20px;
}