.simplecard-see-more {
    color: #fff;
}

.simplecard-img-container {
    width: 100%;
    height: 200px;
    background: #66666620;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #000;
}

.simplecard-description {
    font-size: 14px;
    color: var(--secondary-text);
}

.simpplecard a{
    text-decoration: none;
    color: var(--primary-text);
}

.simpplecard:hover {
    -webkit-box-shadow: 0 1px 5px -2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 5px -2px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 5px -2px rgba(0, 0, 0, 0.5);
}

.simplecard-nopad {
    padding: 0;
    margin: 0;
}

.simplecard-not-last {
    margin-right: 20px;
}

.simplecard-info-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.simplecard-info-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.simplecard-info-container span{    
    font-size: 14px;
}
.simplecard-icon {
    width: 50px;
    /* background-color: yellow; */
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    color: var(--secondary-text);
}

.simplecard-name {
    padding: 10px 0px 0px 20px;
}
.simplecard-username-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
}
.simplecard-username-container > * {
    margin-right: 10px;
}
.simplecard-username-container span{
    font-size: 14px;
    color: var(--primary-text);
}
.simplecard-avatar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.simplecard-icon-admin {
    color: rgb(255, 16, 16);
    margin-left: 10px;
    font-size: 20px;
}