.project-page-container {
    width: 100%;
    /* background: var(--detail-background); */
}
.project-page-content {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* background-color: yellow; */
}

.project-page-content > *{
    margin-bottom: 20px;
}

.project-page-margin > * {
    margin-left: 20px;   
}

.project-page-name {
    font-size: 30px;
    font-weight: bold;
    font-family: Monaco;
}

.project-page-carouel {
    width: 100%;
    height: 300px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: grey; */
}

.project-page-tags {
    display: flex;
    flex-direction: row; 
}

.project-page-tag {
    padding: 2px 15px;
    font-size: 17px;
    background-color:lightgreen;
    border-radius: 20px !important;
    margin-right: 20px;
}

.project-page-go-back {
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgb(75, 75, 75);
    color: white;
    opacity: 0.2;
    padding: 5px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius:  50%;
    font-size: 20px;
}

.project-page-go-back:hover {
    opacity: 1;
}

.project-page-image {
    opacity: 1;
    height: 100%;
}

.project-page-info-block {
    width: 100%;
    padding: 20px;
}

.project-page-info-block-title {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;

}
.project-page-info {
    width: 100%;
    padding: 10px 30px;
}
.project-page-info > * {
    margin-bottom: 20px;
}
.project-admin-control {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.project-page-info-block > * {
    margin-bottom: 20px;
}

.project-page-owner {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}
.project-page-owner > *{
    margin-right: 20px;
}
.project-page-owner:hover{
    background-color: #66666610
}
.project-page-owner-name-span{
    font-size: 17px;
    color: var(--primary-text);
}

.project-owner-badge {
    padding: 5px 10px;
    border: 1px solid var(--theme-color);
    color: var(--theme-color) !important;
    border-radius: 25px;
    font-size: 14px !important;
}