.avatar {

	/* Add properties below */
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 150px;
	height: 150px;
	border-radius: 50%;
    background-color: whitesmoke;
	border-color: cadetblue;
	border-width: 10px;

}

#profilePic {
	border-radius: 50%;
	border: 3px solid whitesmoke;
	width: 150px;
	height: 150px;
}

.user-page-info {
	width: 100%;
	margin: 10px;
}

.avatarContainer {
    
	height: 100%;
	float: left;
}


.inputEntry {
	width: 300px;
}

.dateEntry {
	width: 160px;
}

.socialMedia {
	color: grey;
	font-size: small;
	width: 300px;
}

#socialMediaList {
	list-style-type: none;
	padding-left: 0px;
}

.removeSkill {
	padding: 0px;
	background: none;
	border: none;
	font-size: 8px;
	margin: 1px;
	height: 25px;
	width: 25px;
	vertical-align: top;
}

.removeSkill:hover{
	background: none;
	border: none;
}

.removeSkill:focus{
	background: none;
	border: none;
}

.addSkill {
	padding: 0px;
	background: none;
	border: none;
	border-radius: 50%;
	font-size: 8px;
	margin: 1px;
	height: 25px;
	width: 25px;
	vertical-align: top;
}

.addSkill:focus {
	
	background: none;
	border: none;
}

#bio {
	min-height: 100px;
	width: 100%;
}
