.logo {
    width: var(--logo-width);
    background-color: var(--theme-color);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.logo-container {
    width: var(--logo-container);
}
.logo a {
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    color: white;
}