
.loggin-view {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.loggin-view-half {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loggin-back-button-container {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 30px;
}

.loggin-back-button {
    margin-top: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--theme-color);
    opacity: 0.3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loggin-back-button-icon {
    width: 40px;
    height: 40px;
    color:#fff;
    opacity: 1;
}

.loggin-back-button:hover {
    opacity: 0.7;
}

.loggin-img {
    margin-top: 30px;
    width: 50%;
}

.loggin-grad-bg {
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(106,221,209,0.2) 0%, rgba(255,255,255,1) 100%);
}

.loggin-form-container {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loggin-form-container > * {
    margin-bottom: 20px;
}

.loggin-form-container span{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
}
.loggin-input-container {
    width: 100%;
    height: 50px;
    background-color: var(--theme-color);
}