.project-c-container {
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.project-create-container{
    width: 70%;
    padding: 20px;
}

.project-create-row-spread {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-create-title {
    font-size: 20px;
}

.project-create-sub-container {
    width: 50%;
    padding: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.project-create-sub-container span{
    font-size: 17px;
    margin-bottom: 10px;
}

.project-create-tags-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.project-create-sub-tag-container {
    display: flex;
    flex-direction: row;
    padding: 1px 5px;
    background-color: #66666620;
    border: 1px solid #666;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 10px;
}

.project-create-sub-tag-value {
    font-size: 14px !important;
    margin: 0px 5px !important;
}

.project-create-sub-tag-close {
    color: #66666660;
    
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.project-create-steps-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}

.project-create-progress-item {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

.project-create-progress-step {
    background: linear-gradient(to right, rgb(3, 173, 131), white );
    padding: 5px 20px;
    width: auto !important;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
.project-create-progress-subitem {
    padding: 1px 40px;
}