.project-page-container {
    width: 100%;
    /* background: var(--detail-background); */
}
.project-page-content {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* background-color: yellow; */
}

.project-page-content > *{
    margin-bottom: 20px;
}

.project-page-margin > * {
    margin-left: 20px;   
}

.project-page-name {
    font-size: 30px;
    font-weight: bold;
    font-family: Monaco;
}

.project-page-carouel {
    width: 100%;
    height: 300px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: grey; */
}

.project-page-tags {
    display: flex;
    flex-direction: row; 
}

.project-page-tag {
    padding: 2px 15px;
    font-size: 17px;
    background-color:lightgreen;
    border-radius: 20px !important;
    margin-right: 20px;
}

.project-page-go-back {
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgb(75, 75, 75);
    color: white;
    opacity: 0.2;
    padding: 5px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius:  50%;
    font-size: 20px;
}

.project-page-go-back:hover {
    opacity: 1;
}

.project-page-image {
    opacity: 1;
    height: 100%;
}

.project-page-info-block {
    width: 100%;
    padding: 20px;
}
.project-page-info-block p{
    padding: 0px 20px;
}
.project-page-info-block-title {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;

}
.project-page-info {
    width: 100%;
    padding: 10px 30px;
}
.project-page-info > * {
    margin-bottom: 20px;
}
.project-admin-control {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.project-page-info-block > * {
    margin-bottom: 20px;
}

.project-page-owner {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}
.project-page-owner > *{
    margin-right: 20px;
}
.project-page-owner:hover{
    background-color: #66666610
}
.project-page-owner-name-span{
    font-size: 17px;
    color: var(--primary-text);
}

.project-owner-badge {
    padding: 5px 10px;
    border: 1px solid var(--theme-color);
    color: var(--theme-color) !important;
    border-radius: 25px;
    font-size: 14px !important;
}
.project-page-progress-content {
    padding: 10px;
}

.project-page-progress {
    padding: 20px;
    background: #66666610;
    margin-bottom: 10px;
    width: 50%;
    display: flex;
    flex-direction: row;
}

.project-step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: transparent !important;
    color: #66666670;
    border: 2px solid #66666670;
    border-radius: 50px;
}

.project-step-complete {
    background-color: var(--theme-color) !important;
    border: 2px solid var(--theme-color);
    color: white;
}

.project-page-progress-step span{
    margin-top: 10px;
    font-size: 14px;
}

.project-step-complete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50px;
}

.project-page-progress-step {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-page-progress-item-container {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.project-step-status {
    margin-top: 10px;
    color: #66666670
}

.project-step-status-complete {
    color: var(--theme-color);
}

.project-progress-subitem-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.project-progress-subitem-title {
    color: var(--secondary-text);
    font-weight: normal;
}
.project-progress-subitem {
    padding: 0px 10px;
    color: var(--secondary-text);
    font-weight: light;
}

.project-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
    border: 1.5px dashed #66666650;
    color:#66666650;
    font-size: 30px;
    cursor: pointer;
    border-radius: 10px;
}

.project-upload-container-active {
    border: 1.5px dashed var(--theme-color);
    color:var(--theme-color);
}

.project-upload-container span{
    font-size: 14px;
}

.project-upload-container input[type="file"] {
    display: none;
    width: 100%;
    height: 100%;
    background: yellow;
}

.project-page-image-container {
    padding: 10px;
    background-color: rgba(190, 255, 190, 0.1);
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.project-page-image-container img{
    width: 45%;
    margin-right: 10px;
    margin-bottom: 10px;
}