:root {
  --theme-color: #08c9a3;
  --header-height: 80px;
  --content-width-percent: 70%;
  --primary-text: #000;
  --secondary-text: rgba(0, 0, 0, 0.6);
}
/* row alignment */
.row {
  display: flex;
  flex-direction: row;
}
.row-v-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.row-v-start {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

/* column alignment */
.column {
  display: flex;
  flex-direction: column;
}
.col-h-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.shadow {
  -webkit-box-shadow: 0 1px 5px -2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 5px -2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 5px -2px rgba(0, 0, 0, 0.3);
}
.shadow-strong {
  -webkit-box-shadow: 2px 1px 7px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 1px 7px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 1px 7px 0px rgba(0, 0, 0, 0.3);
}

.rounded {
  border-radius: 5px;
}

.hide-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

a {
  color: var(--global--text--color);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
