
@import '~antd/dist/antd.css';


:root {
  --theme-color: #08c9a3;
  --theme-color-darker: #07a384;
  --header-height: 80px;
  --content-width-percent: 70%;
  --logo-container: 30%;
  --logo-width: 100px;
  --primary-text: #000;
  --secondary-text: rgba(0, 0, 0, 0.6);
  --detail-background: rgba(189, 255, 230, 0.068);
}
/* row alignment */
.row {
  display: flex;
  flex-direction: row;
}
.row-v-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.row-v-start {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

/* column alignment */
.column {
  display: flex;
  flex-direction: column;
}
.col-h-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.shadow-cust {
  -webkit-box-shadow: 0 1px 5px -2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 5px -2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 5px -2px rgba(0, 0, 0, 0.3);
}
.shadow-strong-cust {
  -webkit-box-shadow: 2px 1px 7px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 1px 7px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 1px 7px 0px rgba(0, 0, 0, 0.3);
}

.rounded {
  border-radius: 5px;
}

.hide-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.link {
  text-decoration: none;
  color: var(--secondary-text);
}

.App {
  width: 100%;
  height: 100%;
}